<div class="row">
  <div class="col-sm-6">
  <h1>Personnels</h1>


  <% @personnels.each do |personnel| %>
    <div class="row">
      <div class="col-sm-3">
        <%= link_to personnel.name, personnel_path(personnel) %>
      </div>
      <div class="col-sm-3">
        <button type="button" class="badge badge-dark">
        <%= link_to 'Edit', edit_personnel_path(personnel) %>
        </button>
        <button type="button" class="badge badge-dark">
        <%= link_to 'Destroy', personnel, method: :delete, data: { confirm: 'Are you sure?' } %>
        </button><br><br>
      </div>
    </div>
  <% end %>
  </div>

  <div class="col-sm-6">
    <h1>Requested Custom Reports:</h1>

  </div>
</div>
